@import "@pipecat-ai/voice-ui-kit/styles";
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-mint-50: #f7fcfa;
  --color-mint-100: #d5f0e1;
  --color-mint-400: #89c9a6;
  --color-mint-800: #1d4d3f;
  --color-neutral-400: #62736c;
  --color-neutral-700: #3d4d46;
  --color-neutral-900: #1a2421;

  --button-radius: 0.75rem;
  --card-radius: 1rem;
}
